*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}
header {
    background-color: #EAC926;
    font-family: 'Roboto';
}
body{
    background-color: #ebebeb;
    font-family: 'Roboto';
}
main{
    width: 90vw;
}
footer{
    background-color: #ebebeb;
    font-family: 'Roboto';
}

p {font-size: 12px;}
h3 {font-size: 24px;}
#precio {font-size: 18px;}
#descuento {
    font-size: 16px;
    color: #39b54a;
}
.descripcion {
    font-size: 16px;
    display: none;
}
ul#body li {
    font-size: 12px;
    text-align: justify;
}
.centrado {text-align: center;}
#botonback {
    background-color: #ebebeb;
    border: black 1px solid;
}

.bback{
    background-color: #1259c3;
    text-align: center;
    font-size: 25px;
    display: none;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    margin: auto;
}
.bcolor {color: #ebebeb;}
.iconmod{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}
.delivery{
    color: #39b54a;
    font-size: 2em;
    padding: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 15vw;
}

nav ul{ 
    display: none;
    margin: 0;
    padding: 0;
}
section article div{
    margin-bottom: 10px;
    border-top: solid 1px #ebebeb;
    background-color: white;
    padding: 15px;
}
.price-discount{
    display: flex;
    justify-content: flex-start;
}
.price{
    flex-grow: 0.3;
}
.discount{
    flex-grow: 0.7;
}

@media (min-width: 361px){
    nav ul{ 
        display: block;}
    .bback{
        display: block;}
    body{
        .descripcion{
            display: block;
        };
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 769px){
}