*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}
header {
    background-color: #EAC926;
    font-family: 'Roboto';
}
body, 
footer{
    background-color: #ebebeb;
    font-family: 'Roboto';
    margin: 1px;
    padding: 1px;
}
main{
    width: 90vw;
}

p {font-size: 12px;}
h3 {
    font-size: 24px;
    margin: 5px;
    padding: 5px;
}
.precio {font-size: 18px;}
.descuento {
    font-size: 16px;
    color: #39b54a;
}
.descripcion {
    font-size: 16px;
    display: none;
}
ul.body li {
    font-size: 12px;
    text-align: justify;
}
.centrado {text-align: center;}
.botonback {
    background-color: #ebebeb;
    border: black 1px solid;
}

.bback{
    background-color: #1259c3;
    text-align: center;
    font-size: 15px;
    max-width: 25px;
    padding: 5px 0;
    border-radius: 8px;
    margin: auto;
}
.bcolor {color: #ebebeb;}
.logo {
    width: 50%;
}
.bar-search {
    width: 50%;
}
.iconmod{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}
.delivery{
    color: #39b54a;
    font-size: 2em;
    display: block;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

nav ul{ 
    display: none;
    margin: 0;
    padding: 0;
}
section div article div{
    margin-bottom: 10px;
    border-top: solid 1px #ebebeb;
    background-color: white;
    padding: 15px;
    position: relative;
}
.price-discount{
    display: flex;
    justify-content: flex-start;
}
.price{
    flex-grow: 0.3;
}
.discount{
    flex-grow: 0.7;
}

.nolink{
    text-decoration: none;
    color: black;
}

.header-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
    flex-wrap: nowrap;
}

.navbar ul li{
    margin: 0 5px;
}

.text-form{
    margin: auto;
    border: 1px;
    padding: 8px;
    width: 95%;
}

.bottom-form{
    background-color: #1259c3;
    border: solid 1px black;
    color: #EAC926;
    border-radius: 5px;
}

main form div.text-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.bottom-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.label-form{
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    margin: 5px;
    padding: auto;
}

@media (min-width: 361px){
    nav ul{ 
        display: block;}
    .bback{
        display: none;}
    body{
        .descripcion{
            display: block;
        };
        .shadow{
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }
    }
    .header-flex1{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .to-sell{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .to-sell article{
        margin: auto;
        width: 42%;
        box-sizing: border-box;
    }
}

@media (min-width: 769px){
    .navbar, 
    .header-flex1{
        max-width: 1000px;
        margin: auto;
    }
    .to-sell article{
        width: 24%;
    }
}