<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Mercado TORTUGA>>> Mercado Liebre?</title>
</head>
<header>
    <img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre">
    <p>Lugar para poner la barra de búsqueda</p>
    <p>Comprá en cuotas y sin tarjeta de crédito</p>
    <nav>
        <ul>
            <li type="Circle">Ofertas</li>
            <li type="Circle">Tiendas Oficiales</li>
            <li type="Circle">Vender</li>
            <li type="Circle">Ayuda</li>
        </ul>
        <ul>
            <li type="Circle">Creá tu cuenta</li>
            <li type="Circle">Ingresá</li>
            <li type="Circle">Mis compras</li>
        </ul>
    </nav>
</header>
<body>
    <img src="/images/img-home-banner.jpg" alt="Banner" width="100%">
<main>
    <section>
        <h3>Basado en tu última visita</h3>
        <article>
            <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" width="100%">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
        </article>
        <article>
            <img src="/images/img-macbook-pro-2019.jpg" alt="Cafetera" width="100%">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p>MacBook Pro 2019</p>
        </article>
        <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Cafetera" width="100%">
            <p>$70.500</p>
            <p>10% OFF</p>
            <p>Samsung Galaxy S10</p>
        </article>
        <article>
            <img src="/images/img-tv-samsung-smart.jpg" alt="Cafetera" width="100%">
            <p>$23.200</p>
            <p>5% OFF</p>
            <p>SmartTv Samsung 43"</p>
        </article>
    </section>
    <section>
        <h3>Ofertas</h3>
        <article>
            <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" width="100%">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
        </article>
        <article>
            <img src="/images/img-macbook-pro-2019.jpg" alt="Cafetera" width="100%">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p>MacBook Pro 2019</p>
        </article>
        <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Cafetera" width="100%">
            <p>$70.500</p>
            <p>10% OFF</p>
            <p>Samsung Galaxy S10</p>
        </article>
        <article>
            <img src="/images/img-tv-samsung-smart.jpg" alt="Cafetera" width="100%">
            <p>$23.200</p>
            <p>5% OFF</p>
            <p>SmartTv Samsung 43"</p>
        </article>
    </section>
</main>


<footer>
    <section>
        <strong> Pagá con tarjeta o en efectivo </strong>
        <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
    </section>
    <section>
        <strong> Envío gratis desde $ 2.500 </strong>
        <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. </p>
    </section>
    <section>
        <strong> Seguridad, de principio a fin </strong>
        <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@. </p>
    </section>
    <p><b> Copyright © 1999-2020 MercadoLiebre S.R.L. </b></p>
</footer>

</body>
</html>