<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Usuario</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <header>
        <div class="header-flex1">
            <div class="header-flex">
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre">
                <p class="bar-search">
                    <input type="search" placeholder="Buscar productos ">
                    <span class="botonback"><i class="fa-solid fa-magnifying-glass fa-sm"></i></span>
                </p>                      
            </div>
            <p class="centrado">Comprá en cuotas y sin tarjeta de crédito <i class="fa-solid fa-hand-holding-dollar fa-bounce fa-lg"></i></p>
        </div>

        <nav class="navbar">
            <ul class="body" type="None">
                <li >Ofertas</li>
                <li >Tiendas Oficiales</li>
                <li >Vender</li>
                <li >Ayuda</li>
            </ul>
            <ul class="body" type="None">
                <li > <a href="/register" class="nolink" >Creá tu cuenta <i class="fa-solid fa-address-card fa-lg"></i></a> </li>
                <li > <a href="/login" class="nolink" >Ingresá <i class="fa-solid fa-right-to-bracket fa-lg"></i></a></li>
                <li >Mis compras <i class="fa-solid fa-basket-shopping fa-lg"></i></li>
            </ul>
        </nav>
        <p>
            <div class="bback">
                <i class="fa-solid fa-bars fa-lg bcolor"></i>
            </div>
        </p>
        
    </header>
    <h1>Login Usuario</h1>
    <main>
        <form action="/home" method="get">
            <div class="text-form">
                <label for="usuario" class="label-form">Usuario</label>
                <input type="text" name="usuario" id="usuario" placeholder="ej: M.Garcia" required minlength="4" maxlength="40">
            </div>
            <div class="text-form">
                <label for="password" class="label-form">contraseña</label>
                <input type="password" name="password" id="password" placeholder="ej: yuiVBN*" required minlength="8">
            </div>
            <div class="bottom-input-1">
                <input type="submit" value="Ingresar" class="bottom-form-1">
            </div>
        </form>
    </main>
    <footer>
        <section>
            <div class="foot">
                <div class="centrado">
                    <i class="fa-solid fa-credit-card iconmod"></i>
                </div>
                <strong> <div class="centrado">Pagá con tarjeta o en efectivo </div></strong>
                <p class="descripcion-1 centrado"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
            </div>
            <div class="foot">
                <div class="centrado">
                    <i class="fa-solid fa-gift iconmod"></i>
                </div>
                <strong> <div class="centrado">Envío gratis desde $ 2.500 </div></strong>
                <p class="descripcion-1 centrado"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. </p>
            </div>
            <div class="foot">
                <div class="centrado">
                    <i class="fa-solid fa-user-shield iconmod"></i>
                </div>
                <strong> <div class="centrado">Seguridad, de principio a fin</div> </strong>
                <p class="descripcion-1 centrado"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@. </p>
            </div>
        </section>
        <p class="centrado"><b> Copyright © 1999-2023 MercadoLiebre S.R.L. </b></p>
    </footer>
</body>
</html>