<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XXX</title>
</head>
<body>
    <p>REGISTRO DE USUARIO: MODIFICAR ESTO LUEGO</p>
    <main>
        <form action="">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="ej: Marciano"><br>
            <label for="usuario">Usuario</label>
            <input type="text" name="usuario" id="usuario" placeholder="ej: M.Garcia"><br>
            <label for="nacimiento">Fecha de nacimiento</label>
            <input type="date" name="nacimiento" id="nacimiento"><br>
            <label for="direccion">Dirección</label>
            <input type="text" name="direccion" id="direccion" placeholder="ej: Cra 55 Cll 90 A-Sur 10 APTO 123"><br>
            <label for="perfil">¿Qué desea realizar?</label><br>
            <input type="radio" name="perfil" id="perfil" value="comprar"> Comprar
            <input type="radio" name="perfil" id="perfil" value="vender"> Vender
            <br>
            <label for="categorias">Categorías de interés</label><br>
            <input type="checkbox" name="categorias" id="categorias" value="electro"> Electro <br>
            <input type="checkbox" name="categorias" id="categorias" value="moda"> Moda <br>
            <input type="checkbox" name="categorias" id="categorias" value="hogar"> Hogar <br>
            <input type="checkbox" name="categorias" id="categorias" value="jugueteria"> Juguetería <br>
            <input type="checkbox" name="categorias" id="categorias" value="vidasana"> Vida Sana <br>
            <label for="fotoperfil">Agrega foto de perfil</label><br>
            <input type="file" name="fotoperfil" accept="image/*" id="fotoperfil"><br>
            <label for="password">Ingresa tu contraseña</label><br>
            <input type="password" name="password" id="password" placeholder="ej: yuiVBN*"> <br>
            <label for="conpassword">Confirma tu contraseña</label><br>
            <input type="conpassword" name="conpassword" id="conpassword" placeholder="ej: yuiVBN*"><br>
            <input type="reset" value="Eliminar datos">
        </form>
    </main>
</body>
</html>