<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Usuario</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <h1 class="centrado">Registro Usuario</h1>
    <main>
        <form action="/home" method="get">
            <div class="text-form">
                <label for="nombre" class="label-form">Nombre Completo</label>
                <input type="text" name="nombre" id="nombre" placeholder="ej: Marciano García" required minlength="3" maxlength="40">
            </div>
            <div class="text-form">
                <label for="usuario" class="label-form">Usuario</label>
                <input type="text" name="usuario" id="usuario" placeholder="ej: M.Garcia" required min="4" maxlength="40">
            </div>
            <div class="text-form">
                <label for="nacimiento" class="label-form">Fecha de nacimiento</label>
                <input type="date" name="nacimiento" id="nacimiento" required>
            </div>
            <div class="text-form">
                <label for="direccion" class="label-form">Dirección</label>
                <input type="text" name="direccion" id="direccion" placeholder="ej: Cra 55 Cll 90 A-Sur 10 APTO 123" required minlength="10" maxlength="50">
            </div>
            <div class="text-form">
                <label for="perfil" class="label-form">¿Qué desea realizar?</label>
                <input type="radio" name="perfil" id="perfil" value="comprar"> Comprar
                <input type="radio" name="perfil" id="perfil" value="vender"> Vender
            </div>
            <div class="text-form">
                <label for="categorias" class="label-form">Categorías de interés</label>
                <input type="checkbox" name="categorias" id="categorias" value="electro"> Electro 
                <input type="checkbox" name="categorias" id="categorias" value="moda"> Moda 
                <input type="checkbox" name="categorias" id="categorias" value="hogar"> Hogar 
                <input type="checkbox" name="categorias" id="categorias" value="jugueteria"> Juguetería 
                <input type="checkbox" name="categorias" id="categorias" value="vidasana"> Vida Sana 
            </div>
            <div class="text-form">
                <label for="fotoperfil" class="label-form">Agrega foto de perfil</label>
                <input type="file" name="fotoperfil" accept="image/*" id="fotoperfil">
            </div>
            <div class="text-form">
                <label for="password" class="label-form">Ingresa tu contraseña</label>
                <input type="password" name="password" id="password" placeholder="ej: yuiVBN*" required>
            </div>
            <div class="text-form">
                <label for="conpassword" class="label-form">Confirma tu contraseña</label>
                <input type="password" name="conpassword" id="conpassword" placeholder="ej: yuiVBN*" required>
            </div>
            <div class="bottom-input">
                <input type="reset" value="Eliminar datos" class="bottom-form">
                <input type="submit" value="Enviar" class="bottom-form">
            </div> 
        </form>
    </main>
</body>
</html>